<html>
    <header>
        <title>An example</title>
        <script>
            window.onload = function start() {
                slide();
            }
            function slide() {
                window.setInterval(function () {
                    document.getElementById('fan_data').innerHTML="{{ get_fan_data }}";
                }, 3000); // repeat forever, polling every 3 seconds
            }
            function get_fan_data() {
                document.getElementById('fan_data').innerHTML="{{ get_fan_data }}";
            }
            function set_fan_speed_max() {
                var x = document.getElementById('fan_data')
                document.getElementById('fan_data').innerHTML="{{ set_fan_speed_max }}";
            }
            function set_fan_speed_reg() {
                var x = document.getElementById('fan_data')
                document.getElementById('fan_data').innerHTML="{{ set_fan_speed_reg }}";
            }
        </script>
    </header>
    <body>
        <button onclick="get_fan_data();">get fan speed</button><br/>
        <button onclick="set_fan_speed_reg();">set fan speed reg</button><br/>
        <button onclick="set_fan_speed_max();">set fan speed max</button><br/>
        current fan speed: <span id='fan_data'>unknown</span>
    </body>
</html>