body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
}
.label-back {
  position: relative;
  top: -3px;
}
.label-back i {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin: 0 -4px;
  position: relative;
  top: 2px;
}
.list-group-form {
  float: right;
  margin-top: -1px;
}
.list-group-form + .label {
  margin-right: 5px;
}
.default-select-item {
  position: relative;
}
.default-select-item:hover .default-select-btn {
  display: block;
}
.default-select-current,
.default-select-btn {
  position: absolute;
  right: 4px;
  top: 2px;
}
.default-select-current {
  pointer-events: none;
}
.default-select-btn {
  display: none;
}
.popover-content > dl {
  margin-bottom: 0;
}
.fla-info {
  padding-top: 9px;
}
.fla-info .dl-horizontal {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .dl-horizontal.dl-compressed dt {
    width: 100px;
  }
  .dl-horizontal.dl-compressed dd {
    margin-left: 110px;
  }
}
select.tall-input,
textarea.tall-input {
  height: 400px;
}
.report-header {
  text-align: center;
}
.report-header + .page-header {
  margin: 0;
  border: none;
}
.report-address-header {
  margin: 0;
  color: #808080;
}
.table-container.panel-table,
.download-report-section .panel-body .table-container {
  margin-right: -16px;
  margin-left: -16px;
}
.download-report-panel .panel-body {
  padding-bottom: 3px;
}
.page-header {
  margin-top: 30px;
}
.page-header + .page-sub-header {
  padding-bottom: 13px;
  padding-top: 8px;
  border-bottom: 1px solid #eee;
  margin-top: -21px;
  background: #fff;
}
.page-sub-header {
  font-size: 1.2em;
  margin-bottom: 15px;
}
.alert-icon {
  float: left;
  font-size: 3.5em;
  margin-right: 10px;
}
.select2-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.controls .select2-container.select2-container-multi {
  width: 100%;
  max-width: 100%;
}
.header-extra {
  overflow: hidden;
}
.header-extra .point {
  margin-left: 15px;
}
.table-source-alert {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 10px;
}
.panel-title {
  font-size: 1.4em;
}
.panel-full {
  margin: 0 -15px 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.part-heading {
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(top, #fff 0%, #efefef 100%);
  background: -moz-linear-gradient(top, #fff 0%, #efefef 100%);
  background: -o-linear-gradient(top, #fff 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #fff 0%, #efefef 100%);
  background: linear-gradient(to bottom, #fff 0%, #efefef 100%);
}
.part-heading + .part-body > .table-container {
  margin-top: -11px;
}
.part-title {
  font-size: 1.2em;
}
.part-body .raw-bytes-part {
  margin-top: 10px;
  padding-bottom: 4px;
}
.part-body .table-part {
  margin-top: 10px;
}
.part-body .table-part .table {
  margin-bottom: 0px;
}
.part-sub-section {
  -webkit-box-shadow: inset 0 -5px 5px rgba(0,0,0,0.02);
  box-shadow: inset 0 -5px 5px rgba(0,0,0,0.02);
  background: -webkit-linear-gradient(top, #fff 0%, #efefef 100%);
  background: -moz-linear-gradient(top, #fff 0%, #efefef 100%);
  background: -o-linear-gradient(top, #fff 0%, #efefef 100%);
  background: -ms-linear-gradient(top, #fff 0%, #efefef 100%);
  background: linear-gradient(to bottom, #fff 0%, #efefef 100%);
  padding-top: 2px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 2px;
}
.part-sub-heading + .pull-right,
.part-sub-heading {
  font-size: 1em;
  margin-top: 10px;
}
.table .incident-zero {
  background: #ffe6e6;
}
#section_navigation {
  margin-bottom: 10px;
}
.part-heading h3,
.part-heading h4 {
  margin-top: 0;
}
.header-time {
  margin-left: 10px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 2px 8px;
}
.panel-tabs {
  margin: 0 -15px;
  padding: 0 15px;
}
.panel-tabs > li a {
  border-color: #ddd;
}
.panel-tabs .btn-tab {
  margin-bottom: 4px;
}
.panel-tabs .btn-tab > a {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7px 15px;
}
.operator-display .help-block {
  display: none;
}
.operator-display .form-group {
  margin-bottom: 0;
  margin-top: -10px;
}
.control-label,
.form-control-static {
  padding-top: 0;
}
@media print {
  body {
    margin: 0;
  }
  .download-report-panel {
    page-break-before: avoid;
    page-break-after: avoid;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .download-report-panel .tab-content > .tab-pane {
    display: block;
    visibility: visible;
  }
  .download-report-panel .highcharts-container {
    margin-left: -25px;
  }
  .download-report-panel .section-part {
    page-break-inside: avoid;
  }
  .print-title:after {
    content: " (" attr(data-print-title) ")";
  }
}
#gps_map {
  min-height: 300px;
}
#gps_map > div {
  min-height: 300px;
}
@media print {
  #report a[href]:after {
    content: "";
  }
}
.pagination {
  display: block;
}
.list-package-group .list-group-item-text {
  clear: left;
}
.list-package-group .list-group-item-text p:last-of-type {
  margin-bottom: 0;
}
.list-package-group .close .glyphicon-ok {
  font-size: 12px;
  top: -2px;
}
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  background: #ddd;
  outline: 0;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.leaflet-container img {
  max-width: none !important;
}
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}
.leaflet-container a {
  color: #0078a8;
}
.leaflet-container a.leaflet-active {
  outline: 2px solid #ffa500;
}
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255,255,255,0.7);
  margin: 0;
}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}
.leaflet-tile-loaded {
  visibility: inherit;
}
.leaflet-zoom-box {
  width: 0;
  height: 0;
  border: 2px dotted #38f;
  background: rgba(255,255,255,0.5);
}
.leaflet-overlay-pane {
  z-index: 4;
}
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}
.leaflet-tile-pane {
  z-index: 2;
}
.leaflet-objects-pane {
  z-index: 3;
}
.leaflet-shadow-pane {
  z-index: 5;
}
.leaflet-marker-pane {
  z-index: 6;
}
.leaflet-popup-pane {
  z-index: 7;
}
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}
.lvml {
  behavior: url("#default#VML");
  display: inline-block;
  position: absolute;
}
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
  float: left;
  clear: both;
}
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}
.leaflet-top {
  top: 0;
}
.leaflet-top .leaflet-control {
  margin-top: 10px;
}
.leaflet-right {
  right: 0;
}
.leaflet-right .leaflet-control {
  float: right;
  margin-right: 10px;
}
.leaflet-bottom {
  bottom: 0;
}
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}
.leaflet-left {
  left: 0;
}
.leaflet-left .leaflet-control {
  margin-left: 10px;
}
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -ms-transition: -ms-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.leaflet-clickable {
  cursor: pointer;
}
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.leaflet-bar {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}
.leaflet-control-zoom-out {
  font-size: 20px;
}
.leaflet-control-layers {
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.leaflet-control-layers label {
  display: block;
}
.leaflet-control-layers-toggle {
  background-image: url("images/layers.png");
  width: 36px;
  height: 36px;
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("images/layers-2x.png");
  -webkit-background-size: 26px 26px;
  -moz-background-size: 26px 26px;
  background-size: 26px 26px;
}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}
.leaflet-control-attribution a {
  text-decoration: none;
}
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255,255,255,0.5);
}
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0,0,0,0.2);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.leaflet-popup {
  position: absolute;
  text-align: center;
}
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}
.leaflet-popup-content p {
  margin: 18px 0;
}
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #fff;
  -webkit-box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/*# sourceMappingURL=main.css.map */
